{% extends "base_generic.html" %}
{% block title %}<title>Library</title>{% endblock %}
{% block content %}
  <div class="container flex hero">
    <div class="hero-title">
      <h1>Local Library </h1>
      <p>Welcome to Local Library, a website developed by <strong >Irfana Sulaiman</strong>!</p>
    </div>
    <img class="rounded float-end hero-image" src="https://cf-images.us-east-1.prod.boltdns.net/v1/static/3281700261001/695c379f-2c5d-462c-bb75-c59ab1d7ef8d/aed1aca1-2dd5-40b2-bdf3-c7c2101601e4/1920x1080/match/image.jpg" alt="">
  </div>
  <h2 class="accent">Dynamic content</h2>
  <p>The library has the following record counts:</p>
 
  <ul  class="list-group">
    <li class="list-group-item list-border"><strong class="accent">Books:</strong> {{ num_books }}</li>
    <li class="list-group-item list-border"><strong class="accent">Copies:</strong> {{ num_instances }}</li>
    <li class="list-group-item list-border"><strong class="accent">Copies available:</strong> {{ num_instances_available }}</li>
    <li class="list-group-item list-border"><strong class="accent">Authors:</strong> {{ num_authors }}</li>
    <li class="list-group-item list-border"><strong class="accent">Genres:</strong> {{ num_genre }}</li>
    <li class="list-group-item list-border"><strong class="accent">Languages:</strong> {{ num_language }}</li>
    <li class="list-group-item list-border"><strong class="accent">Harry Potter Books:</strong> {{ HarryP_books }}</li>
  </ul>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
  
{% endblock %}