{% extends "base_generic.html" %}
{% block content %}
    <h1 class="accent mb-4 mt-2">Borrowed books</h1>
    {% if bookinstance_list %}
    <ul class="list-group">
        {% for bookinst in bookinstance_list %}
        <li class="list-group-item list-color {% if bookinst.is_overdue %}text-danger{% else %} text-success{% endif %}">        <a  class =" dark"href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
        </li>   
        {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}
